cryptography==42.0.2
toolz==0.12.0
psutil==5.9.0
jsonpointer==2.1
rpds-py==0.10.6
Brotli==1.0.9
conda-content-trust==0.2.0
pure-eval==0.2.2
tomli==2.0.1
mpmath==1.3.0
PyYAML==6.0.1
sortedcontainers==2.4.0
Pygments==2.15.1
attrs==23.1.0
mkl-random==1.2.4
hypothesis==6.98.10
torchelastic==0.2.2
pycparser==2.21
parso==0.8.3
jsonschema-specifications==2023.7.1
conda-build==24.1.2
packaging==23.1
numpy==1.26.3
conda==23.9.0
conda-libmamba-solver==23.7.0
truststore==0.8.0
ptyprocess==0.7.0
boltons==23.0.0
matplotlib-inline==0.1.6
ipython==8.20.0
networkx==3.2.1
networkx==3.1
torchvision==0.17.1
stack-data==0.2.0
asttokens==2.0.5
prompt-toolkit==3.0.43
pillow==10.2.0
pyOpenSSL==24.0.0
pluggy==1.0.0
six==1.16.0
charset-normalizer==2.0.4
zstandard==0.19.0
libmambapy==1.5.3
torch==2.2.1
soupsieve==2.5
conda-package-handling==2.2.0
jsonpatch==1.32
wheel==0.41.2
cffi==1.16.0
optree==0.10.0
Jinja2==3.1.3
PySocks==1.7.1
astunparse==1.6.3
exceptiongroup==1.2.0
pexpect==4.8.0
ruamel.yaml.clib==0.2.6
archspec==0.2.1
more-itertools==10.1.0
pycosat==0.6.6
pytz==2023.3.post1
decorator==5.1.1
menuinst==2.0.2
requests==2.31.0
chardet==4.0.0
dnspython==2.6.1
setuptools==68.2.2
certifi==2024.2.2
types-dataclasses==0.6.6
click==8.1.7
torchaudio==2.2.1
wcwidth==0.2.5
typing_extensions==4.9.0
python-etcd==0.4.5
pkginfo==1.9.6
urllib3==2.1.0
sympy==1.12
conda_package_streaming==0.9.0
jsonschema==4.19.2
executing==0.8.3
conda_index==0.4.0
gmpy2==2.1.2
libarchive-c==2.9
platformdirs==3.10.0
tqdm==4.65.0
idna==3.4
triton==2.2.0
traitlets==5.7.1
ruamel.yaml==0.17.21
MarkupSafe==2.1.3
referencing==0.30.2
fsspec==2024.2.0
jedi==0.18.1
distro==1.8.0
beautifulsoup4==4.12.2
mkl-service==2.4.0
filelock==3.13.1
expecttest==0.2.1
mkl-fft==1.3.8
scipy==1.14.0
tensorboard==2.17.0
setproctitle==1.3.3
pykan==0.2.4
fonttools==4.53.1
pyparsing==3.1.2
Markdown==3.6
seaborn==0.13.2
antlr4-python3-runtime==4.9.3
SQLAlchemy==2.0.32
absl-py==2.1.0
grpcio==1.65.4
DateTime==5.5
matplotlib==3.9.1.post1
Werkzeug==3.0.3
gitdb==4.0.11
threadpoolctl==3.5.0
optuna==3.6.1
Mako==1.3.5
scikit-learn==1.5.1
kiwisolver==1.4.5
pandas==2.2.2
scikit-optimize==0.10.2
greenlet==3.0.3
omegaconf==2.3.0
pyaml==24.7.0
colorlog==6.8.2
DeepXDE==1.12.0
GitPython==3.1.43
tzdata==2024.1
joblib==1.4.2
protobuf==4.25.4
docker-pycreds==0.4.0
hydra-core==1.3.2
sentry-sdk==2.12.0
contourpy==1.2.1
tensorboard-data-server==0.7.2
zope.interface==7.0.1
wandb==0.17.6
cycler==0.12.1
python-dateutil==2.9.0.post0
alembic==1.13.2
smmap==5.0.1
pip==24.1
